<div class="container">
    <br>
    <h3>Inserir Marca</h3>
    <br>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group row">
            <div class="col-4">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="marca.nome" required>
            </div>
        </div>

        <br>
        <div class="form-group row">
            <div class="col-4">
                <button class="btn btn-info" type="submit">Salvar</button>
                <button (click)="listarMarca()" class="btn btn-success" style="margin-left: 10px"> Voltar</button>
            </div>
        </div>

    </form>
</div>
